table {
    width: 100%;
    margin-top: 10px;
  }

.pointer{
  cursor: pointer;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 20%;
}

th{
  background-color: tomato;
  color: chartreuse;
}